@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.eot");
  src: url("../fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Bold.eot");
  src: url("../fonts/Helvetica/Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Helvetica";
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

li {
  list-style-type: none;
  max-width: 20rem;
  max-height: 4rem;
  overflow: hidden;
}

span {
  max-width: 20rem;
  overflow: hidden;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  max-width: 25rem;
  max-height: 6rem;
  overflow: hidden;
}

.header {
  position: sticky;
  z-index: 1000;
  height: 4rem;
  top: 0;
}
.header__dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container {
  max-width: 1150px;
  margin: 0 auto;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 4rem;
}
.header-elements:hover .header-elements__title {
  color: orangered;
  background-color: white;
}
.header-elements:hover .header-elements__title_special {
  color: orangered;
  background-color: initial;
}

.header-elements__title {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  padding: 1rem 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header-elements__title:hover {
  background-color: white;
  color: orangered;
}
.header-elements__title_active {
  background-color: white;
  color: orangered;
}
.header-elements__title:hover + .header-list {
  display: block;
}
.header-elements__title_extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  font-size: 1.5rem;
}
.header-elements__title_extra:hover {
  background-color: white;
  color: orangered;
}
.header-elements__title_extra span {
  padding-bottom: 0.5rem;
}
.header-elements__title_special:hover {
  background-color: initial;
}

.header-list {
  display: none;
  position: absolute;
  top: 56px;
  left: 0;
  background-color: white;
  padding: 1rem 2rem;
  z-index: 5;
  max-height: 25rem;
  overflow: auto;
}
.header-list:hover {
  display: block;
}
.header-list_on-click {
  left: -77px;
  display: none;
}
.header-list_visible {
  display: block;
}
.header-list__element {
  padding: 0.5rem 0;
}
.header-list__element a:hover {
  color: orangered;
}
.header-list__hidden-element {
  display: none;
}

.header-options {
  color: white;
  padding: 0.5rem 1.2rem;
  border: 1px solid white;
  border-radius: 0.2rem;
}
.header-options:hover {
  color: orangered;
  border: 1px solid orangered;
}

.search {
  position: relative;
}
.search__field {
  opacity: 0;
  z-index: -1;
  height: 4rem;
  position: absolute;
  top: -18px;
  right: -30px;
  width: 17rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding-left: 3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search__field::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #cccccc;
}
.search__field::-moz-placeholder {
  font-size: 1.2rem;
  color: #cccccc;
}
.search__field:-ms-input-placeholder {
  font-size: 1.2rem;
  color: #cccccc;
}
.search__field::-ms-input-placeholder {
  font-size: 1.2rem;
  color: #cccccc;
}
.search__field::placeholder {
  font-size: 1.2rem;
  color: #cccccc;
}
.search__field_visible {
  display: block;
  opacity: 1;
  z-index: 0;
}
.search__filter {
  z-index: -1;
  opacity: 0;
  height: 4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 20px;
}
.search__filter::before {
  position: absolute;
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.2rem;
  color: silver;
  left: -165px;
}
.search__filter_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  right: -25px;
  top: -20px;
  z-index: 0;
}
.search__button {
  color: silver;
}
.search__button_active {
  position: absolute;
  left: -180px;
  z-index: 10;
}
.search__close-button {
  opacity: 0;
  display: none;
}
.search__close-button_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  position: absolute;
  left: -180px;
  top: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search [type=search]::-webkit-search-cancel-button {
  display: none;
}

.header-language-sector {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header-language-sector__title {
  color: silver;
  height: 100%;
}
.header-language-sector__title_active {
  background-color: white;
  color: orangered;
}
.header-language-sector__title:hover {
  color: white;
}
.header-language-sector__title_active:hover {
  color: silver;
}

.header-authorization {
  color: white;
  font-weight: bold;
}
.header-authorization:hover {
  color: orangered;
}

.movie-container {
  max-width: 1150px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movie__trailer {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.poster {
  max-width: 140px;
  height: 210px;
  margin: 0 0 2rem 2.5rem;
}
.poster__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 20;
}

.movie-info {
  max-width: 1150px;
  max-height: 600px;
  margin: 0 0 3rem 1.5rem;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-row__text {
  color: silver;
  text-transform: uppercase;
  margin-left: 1rem;
  font-weight: bold;
  cursor: default;
}
.top-row__text:first-child {
  color: #00C3C3;
  margin-left: 0;
}

.movie-info__title {
  color: white;
  margin: 2rem 0 1.5rem 0;
  font-size: 2.2rem;
  font-weight: normal;
  cursor: default;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-row__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-row__link {
  color: white;
  font-size: 1.3rem;
  padding: 0.7rem 2.5rem 0.7rem 3rem;
  background-color: #FF6600;
  border-radius: 0.3rem;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.bottom-row__link::before {
  content: "\f04b";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1rem;
  color: white;
  position: absolute;
  left: 20px;
  top: 45%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bottom-row__link:hover {
  background-color: orangered;
}
.bottom-row__text {
  color: silver;
  margin: 1rem 0 0 0;
  cursor: default;
}
.bottom-row__favorites-button {
  color: white;
  padding: 0.7rem 2.5rem;
  border: 1px solid silver;
  border-radius: 0.4rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.bottom-row__icon {
  font-size: 2.1rem;
}
.bottom-row__icon_favorites {
  font-size: initial;
}
.bottom-row__favorites-button:hover {
  color: orangered;
}
.bottom-row__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: silver;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bottom-row__icon_dislike {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.bottom-row__icon_like, .bottom-row__icon_dislike {
  padding: 0.4rem 0;
}
.bottom-row__text_another {
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.bottom-row__button_like:hover .bottom-row__text_another, .bottom-row__button_like:hover {
  color: #00a132;
}
.bottom-row__button_dislike:hover .bottom-row__text_another, .bottom-row__button_dislike:hover {
  color: #ff1111;
}

.volume-button {
  position: absolute;
  font-size: 1.8rem;
  color: white;
  top: 30px;
  right: 35px;
}

.movie-description {
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px 300px 0 100px;
  background-color: white;
}
.movie-description__more {
  color: orangered;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 1rem;
}
.movie-description__paragraph_invisible {
  display: none;
}
.movie-description__paragraph_visible {
  display: block;
}
.movie-description__paragraph {
  font-size: 1.15rem;
}

.direction {
  margin-bottom: 1.5rem;
}

.direction__link {
  color: grey;
  font-size: 1.1rem;
  margin-right: 0.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  max-width: 15rem;
  overflow: hidden;
}
.direction__link:last-child {
  margin-right: 0;
}
.direction__link:hover {
  color: orangered;
}
.direction__link_selected {
  padding-bottom: 0.1rem;
  border-bottom: 2px solid orangered;
  color: black;
  text-align: center;
}
.direction__link_selected:hover {
  color: grey;
}

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
  white-space: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bread-crumbs__element:not(:last-of-type):after {
  content: ", ";
  margin-right: 0.5rem;
  color: black;
}
.bread-crumbs__element {
  font-size: 1.2rem;
  color: rgba(51, 51, 51, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-width: 15rem;
  max-height: 3rem;
  overflow: hidden;
}
.bread-crumbs__element:first-child {
  cursor: default;
  pointer-events: none;
}
.bread-crumbs__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bread-crumbs__link:hover {
  color: orangered;
}

.additional-information {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.additional-information__text {
  color: silver;
}
.additional-information__text:first-child {
  border: 1px solid silver;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
}
.additional-information__text:last-child {
  font-size: 1.2rem;
}

.social-media {
  margin-top: 2.5rem;
  border-bottom: 1px solid silver;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-media__link {
  padding: 0.4rem 1rem;
  border: 1px solid silver;
  border-radius: 0.2rem;
}
.social-media__link_facebook:hover {
  background-color: #3b5998;
}
.social-media__link_facebook:hover .social-media__icon_facebook {
  color: white;
}
.social-media__link_twitter:hover {
  background-color: #1d9bf0;
}
.social-media__link_twitter:hover .social-media__icon_twitter {
  color: white;
}
.social-media__link:not(:last-child) {
  margin-right: 1rem;
}
.social-media__icon {
  font-size: 1.2rem;
}
.social-media__icon_facebook {
  color: #3b5998;
}
.social-media__icon_facebook:hover {
  color: white;
}
.social-media__icon_twitter {
  color: #1d9bf0;
}
.social-media__icon_twitter:hover {
  color: white;
}

.availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.availability-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 33.3333333333%;
}
.availability-category__title {
  color: silver;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding-right: 2.5rem;
  margin-bottom: 1rem;
}
.availability-category:last-child .availability-category__language {
  padding-left: 0.5rem;
  margin-left: 1rem;
}
.availability-category__element {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  color: silver;
}
.availability-category__language {
  width: 33.3333333333%;
  text-align: start;
  padding: 0.3rem 0;
}
.availability-category__language:not(:last-child)::after {
  content: ", ";
  color: black;
}
.availability-category__icon {
  font-size: 1.6rem;
  text-align: center;
  margin-right: 0.5rem;
  position: relative;
  padding-top: 0.5rem;
}
.availability-category__element:first-of-type .availability-category__icon {
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.availability-category__icon_marked::after {
  content: "\f111";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  color: red;
  vertical-align: top;
  font-size: 0.3rem;
  top: 5px;
}

@media (max-width: 1150px) {
  html {
    font-size: 12px;
  }
  .header-elements__title_special, .header-elements__title_sixth, .header-elements__title_fifth {
    display: none;
  }
  .header-list {
    left: 0;
    top: 47px;
  }
  .header-list__hidden-element {
    padding: 0.5rem 0;
  }
  .header-list__hidden-element_special {
    padding: 0.5rem 0 1rem 0;
    border-bottom: 1px solid silver;
    margin-bottom: 1rem;
  }
  .header-list__hidden-element_special, .header-list__hidden-element_sixth, .header-list__hidden-element_fifth {
    display: block;
  }
  .header-list_on-click {
    left: -66px;
    top: 47px;
  }
  .search {
    position: relative;
  }
  .search__field {
    top: 32px;
    right: -30px;
    width: 17rem;
  }
  .search__filter {
    top: 32px;
  }
  .search__filter::before {
    left: -140px;
  }
  .search__close-button_visible {
    left: -160px;
    top: 30px;
  }
  .movie-container {
    max-height: 400px;
  }
  .movie-description {
    padding: 2rem 4.1rem;
  }
  .availability {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .availability-category {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .availability-category:last-child .availability-category__language {
    padding-left: initial;
    margin-left: initial;
  }
  .availability-category__title {
    text-align: start;
  }
  .availability-category__element {
    padding-bottom: 0;
    width: initial;
  }
  .availability-category__element:not(:last-child) {
    margin-right: 1.3rem;
  }
  .availability-category__language {
    width: initial;
  }
  .availability-category__language:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 725px) {
  html {
    font-size: 10px;
  }
  .header-list {
    top: 40px;
  }
  .header-list_on-click {
    left: -55px;
  }
  .header-list__hidden-element_fourth, .header-list__hidden-element_third {
    display: block;
  }
  .header-elements__title_fourth, .header-elements__title_third {
    display: none;
  }
  .movie-container {
    max-height: 300px;
  }
  .search__field {
    top: 27px;
  }
  .search__filter {
    top: 27px;
  }
  .search__filter::before {
    left: -120px;
  }
  .search__close-button_visible {
    left: -125px;
  }
  .poster {
    max-width: 100px;
    height: 170px;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 9px;
  }
  .header-list {
    top: 36px;
  }
  .header-list_on-click {
    left: -50px;
  }
  .header-list__hidden-element_second, .header-list__hidden-element_first {
    display: block;
  }
  .header-elements__title_second, .header-elements__title_first {
    display: none;
  }
  .search__field {
    top: 24px;
  }
  .search__filter {
    top: 24px;
  }
  .search__filter::before {
    left: -105px;
  }
  .search__close-button_visible {
    left: -108px;
    top: 25px;
  }
  .movie-container {
    max-height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4));
  }
  .volume-button {
    top: 5px;
    right: 10px;
  }
  .poster {
    max-width: 70px;
    height: 140px;
    margin: 0 0 0 1rem;
  }
  .movie-info {
    margin: 0 0 1rem 1.5rem;
  }
  .top-row__text {
    font-size: 0.8rem;
  }
  .bottom-row__favorites-button {
    padding: 0.4rem 2.5rem;
  }
  .bottom-row__link {
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  }
  .bottom-row__link::before {
    left: 5px;
    top: 45%;
  }
  .direction {
    line-height: 2rem;
  }
}
@media (max-width: 360px) {
  .movie-container {
    max-height: 150px;
  }
}
@media (max-width: 320px) {
  body {
    min-width: 320px;
  }
}/*# sourceMappingURL=style.css.map */