.header {
    position: sticky;
    z-index: 1000;
    height: 4rem;
    top: 0;
    &__dropdown-menu {
        display: flex;
    }
}

.header-container {
    @include container;
    @include flex(space-evenly);
    background-color: #1a1a1a;
}

.header-title {
    @include flex;
    height: 100%;
}

.header-elements {
    @include flex;
    position: relative;
    height: 4rem;
    &:hover &__title {
        @include color;
    }
    &:hover &__title_special {
        @include color(initial);
    }
    &_for-footer {
        display: none;
    }
}

.header-elements__title {
    @include flex;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0.5rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    transition: all .1s ease-in-out;
    &:hover {
        @include color;
    }

    &_active {
        @include color;
    }
    &:hover + .header-list {
        display: block;
    }
    &_extra {
        display: flex;
        color: grey;
        font-size: 1.5rem;
    }
    &_extra:hover {
        @include color;
    }
    &_extra span {
        padding-bottom: .5rem;
    }
    &_special:hover {
        background-color: initial;
    }
}

.header-list {
    display: none;
    position: absolute;
    top:56px;
    left: 0;
    background-color: white;
    box-shadow: 0px 12px 18px -8px rgba(0,0,0,0.75);
    padding: 1rem 2rem;
    z-index: 5;
    max-height: 25rem;
    overflow: auto;
    &:hover {
        display: block;
    }
    &_on-click {
        left: -78px;
        display: none;
    }
    &_visible {
        display: block;
    }
    &__element {
        padding: .5rem 0;
    }
    &__element a:hover {
        color: orangered;
    }
    &__hidden-element {
        display: none;
    }
}

.header-options {
    color: white;
    padding: .5rem 1.2rem;
    border: 1px solid white;
    border-radius: .2rem;
    &:hover {
        color: orangered;
        border: 1px solid orangered;
    }
}

.search {
    position: relative;
    &__field {
        @include absolute-pos(-18px, -30px);
        width: 0;
        z-index: -1;
        height: 4rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        padding-left: 3rem;
        transition: all .3s ease-in-out;
    }
    &__field::placeholder {
        font-size: 1.2rem;
        color: #cccccc;
    }
    &__field_visible {
        display: block;
        z-index: 0;
        width: 17rem;
        transition: .4s;
    }
    &__filter {
        @include absolute-pos(20px);
        z-index: -1;
        opacity: 0;
        height: 4rem;
        transition: all .3s ease-in-out;
    }
    &__filter::before {
        @include absolute-pos(initial, initial, initial, -165px);
        @include for_pseudo-classes('\f002');
        font-size: 1.2rem;
        color: silver;
    }
    &__filter_visible {
        @include flex;
        @include absolute-pos(-20px, -25px);
        opacity: 1;
        z-index: 0;
    }
    &__button {
        color: silver;
    }
    &__button_active {
        @include absolute-pos(initial, initial, initial, -180px);
        z-index: 10;
    }
    &__close-button {
        opacity: 0;
        display: none;
    }
    &__close-button_visible {
        @include absolute-pos (-15px, initial, initial, -180px);
        display: flex;
        opacity: 1;
        transition: all .3s ease-in-out;
    }
}

.search [type = "search"]::-webkit-search-cancel-button {
    display: none;
}

.header-language-sector {
    @include flex;
    height: 4rem;
    position: relative;
    &__title {
        color: silver; 
        height: 100%; 
    }
    &__title_active {
        @include color;
    }
    &__title:hover {
        color: white;
    }
    &__title_active:hover {
        color: silver;
    }
}

.header-authorization {
    color: white;
    font-weight: bold;
    &:hover {
        color: orangered;
    }
}
