@media (max-width: 1150px) {
    html {
        font-size: 12px;
    }
    .header-elements {
        &__title_special, &__title_sixth, &__title_fifth {
           display: none;
        }
        &_for-footer {
            display: block;
        }
    }
    .header-list {
        @include absolute-pos (47px, initial, initial, 0);
        &__hidden-element {
            padding: .5rem 0;
        }
        &__hidden-element_special {
            padding: .5rem 0 1rem 0;
            border-bottom: 1px solid silver;
            margin-bottom: 1rem;
        }
        &__hidden-element_special ,&__hidden-element_sixth, &__hidden-element_fifth {
            display: block;
        }
        &_on-click {
            @include absolute-pos (47px, initial, initial, -67px);
        }
        &_for-footer {
            top: -300px;
        }
    }
    .search {
        position: relative;
        &__field {
            @include absolute-pos (32px, -30px);
            width: 17rem;
        }
        &__filter {
            top: 32px;
        }
        &__filter::before {
            left: -140px;
        }
        &__close-button_visible {
            @include absolute-pos (30px, initial, initial, -160px);
        }
    }
    .movie-container {
        max-height: 400px;
    }
    .movie-description {
        padding: 2rem 4.1rem;
    }
    .availability {
        flex-direction: column;
    }
    .availability-category {
        width: 100%;
        margin-bottom: 1.5rem;
        &:last-child .availability-category__language {
            padding-left: initial;
            margin-left: initial;
        }
        &__title {
            text-align: start;
        }
        &__element {
            padding-bottom: 0;
            width: initial;
        }
        &__element:not(:last-child) {
            margin-right: 1.3rem;
        }
        &__language {
            width: initial;
        }
        &__language:not(:last-child) {
            margin-right: 1rem;
        }
    }
    .footer-box__title {
        &_seventh, &_sixth, &_fifth {
            display: none;
        }
    }
}

@media (max-width:725px) {
    html {
        font-size: 10px;
    }
    .header-list {
        top: 40px;
        &_on-click {
            left: -56px;
        }
        &__hidden-element_fourth ,&__hidden-element_third {
            display: block;
        }
        &_for-footer {
            top: -250px;
        }
    }
    .header-elements {
        &__title_fourth, &__title_third{
           display: none;
        }
    }
    .movie-container {
        max-height: 300px;
    }
    .search {
        &__field {
            top: 27px;
        }
        &__filter {
            top: 27px;
        }
        &__filter::before {
            left: -120px;
        }
        &__close-button_visible {
            left: -125px;
        }
    }
    .poster {
        max-width: 100px;
        height: 170px;
    }
    .footer {
        &-directories, &-bottom {
            flex-direction: column; 
        }
    }
    .directory {
        width: 100%;
        &-elements {
            justify-content: start;
            margin-bottom: 2rem;
        }
    }
    .contacts {
        padding-left: 2rem;
        &__button {
            &::before {
                left: 0;
            }
        }
    }
    .applications-and-media {
        width: 100%;
        &:last-child {
            width: 100%;
        }
        &__title {
            margin-bottom: 1.5rem;
            &_last {
                padding-left: 0;
                margin-top: 1rem;
            }
        }
    }
    .applications-box {
        justify-content: flex-start;
    }
    .applications-link {
        width: calc((70% - 4 * 1rem) / 4);
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    .social-media-link {
        font-size: 2.5rem;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    .footer-box__title {
        &_fourth, &_third {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    html {
        font-size: 9px;
    }
    .header-list {
        top: 36px;
        &_on-click {
            left: -50px;
        }
        &__hidden-element_second ,&__hidden-element_first {
            display: block;
        }
        &_for-footer {
            top: -225px;
        }
    }
    .header-elements {
        &__title_second, &__title_first {
           display: none;
        }
    }
    .search {
        &__field {
            top: 24px;
        }
        &__filter {
            top: 24px;
        }
        &__filter::before {
            left: -105px;
        }
        &__close-button_visible {
            @include absolute-pos (25px, initial, initial, -108px);
            left: -108px;
            top: 25px;
        }
    }
    .movie-container {
        max-height: 200px;
        justify-content: center;
        background: linear-gradient(rgba(0,0,0, .4) rgba(0,0,0,.4));
    }
    .volume-button {
        @include absolute-pos (5px, 10px);
    }
    .poster {
        max-width: 70px;
        height: 140px;
        margin: 0 0 0 1rem;
    }
    .movie-info {
        margin: 0 0 1rem 1.5rem;
    }
    .top-row__text {
        font-size: .8rem;
    }
    .bottom-row {
        &__favorites-button {
            padding: 0.4rem 2.5rem;
        }
    }
    .bottom-row__link {
        padding: 0.7rem 1.5rem 0.7rem 1.5rem;
        &::before {
            @include absolute-pos (45%, initial, initial, 5px);
            left: 5px;
            top: 45%;
        }
    }
    .direction {
        line-height: 2rem;
    }
    .applications-link {
        width: calc((100% - 4 * 1rem) / 4);
    }
    .footer-box__title {
        &_second, &_first {
            display: none;
        }
    }
}

@media (max-width:360px) {
    .movie-container {
        max-height: 150px;
    }
    .volume-button-off::before,
    .volume-button__onsound::before {
        @include absolute-pos (5px, 20px);
    }
    .footer {
        &-copyright {
            text-align: center;
        }
    }
}

@media (max-width:320px) {
    body {
        min-width: 320px;
    }
}